.Sidebar {
  /* float: left; */
  position: absolute;
  top: 20%;
  left: 3%;
}

button {
  border-radius: 10px;
  background-color: white;
  border: 3px solid #4CAF50;
  color: black;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 12px;
  width: 100%;
  display: block;

}

button:hover {
  border-radius: 13px;
  background-color: #4CAF50;
  padding: 24px 36px;
  font-size: 22px;
}

.Content {
  margin-left: 23%;
  position: absolute;
  top: 10%;
  bottom: 10%;
  font-size: 20px;
}

/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

