.EventModal.false {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-size: 30px;
}

.EventModal.true {
    display: none;
}

.Details {
    background-color: white;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid wheat;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.Options {
  margin-left: 15rem;
  margin-right: 1rem;
  margin-top: 2rem;
  font-size: 23px;
  font-weight: bolder;
  font-family: 'neuron';
  color: black;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 2px solid wheat;
  display: inline;
}

.Options:hover {
    background-color: deeppink;
    border: 2px solid deeppink;
}