@font-face {
  font-family: 'neuron';
  src:url("../Resources/Neuron.otf")
}

@font-face {
  font-family: 'doris';
  src:url("../Resources/Dosis-Light.ttf")
}

.FactoriesContent {
  font-family: 'doris';
  margin: 1rem 1rem;
  font-size: 30px;
  color: white;
}

.Add {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 15px;
  font-weight: bold;
  font-family: 'neuron';
  color: deeppink;
  background-color: transparent;
}

.FactoriesTable td:nth-child(2) {
  color: yellow;
  text-align: center;
  font-weight: bold;
}

.FactoriesTable {
  /* table-layout: auto; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: left;
}

.FactoriesTable th {
  color: deeppink;
  text-align: center;
}

.FactoriesTable td {
  padding: 50px, 50px, 50px, 50px;
  color: yellow;
}

.FactoriesTable tr {
  border: 1px solid grey;
}

.dot {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(218, 218, 5);
  opacity: 50%;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

 .cityname {
  visibility: hidden;
  width: 120px;
  color: yellow;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 20px;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.dot:hover .cityname {
  visibility: visible;
}