@font-face {
  font-family: 'neuron';
  src:url("../Resources/Neuron.otf")
}

@font-face {
  font-family: 'doris';
  src:url("../Resources/Dosis-Light.ttf")
}

.FactoriesContent {
  font-family: 'doris';
  margin: 1rem 1rem;
  font-size: 30px;
  color: deeppink;
}

button {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 20px;
  font-weight: bold;
  font-family: 'neuron';
  color: white;
  background-color: transparent;
}