.OverviewContent {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 30px;
    color: wheat;
}

.Money {
    color: yellow;
}

.Reputation {
    color: deeppink;
}

.Destruction {
    color: white;
}

.head {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.line {
    margin-top: 3rem;
}