@font-face {
  font-family: 'neuron';
  src:url("../Resources/Neuron.otf")
}

.Sidebar {
  position: absolute;
  top: 100px;
  width: 200px;
  background-color: transparent;
}

.nav {
  font-family: 'neuron';
  font-weight: bold;
  position: relative;
  top: 50px;
  border-radius: 10px;
  background-color:transparent;
  border: 3px solid deeppink;
  color: white;
  padding: 20px 30px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 10px 0px;
  width: 100%;
  display: block;
}
  
button:hover {
  background-color: deeppink;
  color:white;
}