@font-face {
    font-family: 'neuron';
    src:url("../Resources/Neuron.otf")
}

.inc, .dec {
    text-align: center;
    color: rgb(122, 45, 86);
    background-color: transparent;
    font-family: 'neuron';
    margin: 1rem;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: 2px solid deeppink;
    color: wheat;
    font-weight: bolder;
}

.inc {
    margin-right: 2rem;
}

.inc:hover, .dec:hover {
    background-color: deeppink;
}

.Upgrades {
    font-size: 25px;
    margin-left: 2rem;
    padding-bottom: 10px;
    color: yellow;
}

.Intro {
    margin: 1rem 1rem;
    font-size: 25px;
    color: wheat;
}

.description {
    margin-left: 140px;
    font-size: 20px;
    margin-bottom: 10px;
}