.inc .dec {
    text-align: center;
    color: rgb(122, 45, 86);
    cursor: pointer;
    width: 100%;
    display: block;
}

button:hover {
    cursor: pointer;
    border-radius: 5px;
}

.Upgrades {
    margin: 10px, 10px;
    font-size: 30px;
    padding-bottom: 10px;
    color: yellow;
}

.Intro {
    margin: 1rem 1rem;
    font-size: 30px;
    color: white;
}