@font-face {
  font-family: 'doris';
  src:url("../Resources/Dosis-Light.ttf");
}

.Welcome {
  font-size: 30px;
  margin-top: 0px;
  margin: 15px 15px;
  color: wheat;
  font-family: 'doris';
}

.Images {
  position: relative;
}

.KCAMM {
  max-width:300px;
  max-height:300px;
  margin: 0 10px;
}

.Overlook {
  max-height:300px;
  margin: 0 10px;
}

.ENDE {
  max-height:300px;
  max-width: 400px;
  margin: 0 10px;
}