.Welcome {
  font-size: 30px;
  padding-top: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.KCAMM {
  position: absolute;
  top: 190px;
  left: 100px;
  height: 340px;
  width: 340px;
  border: None;
  border-radius: 8px;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ENDE {
  position: absolute;
  top: 210px;
  left: 600px;
  height:300px;
  width: 400px;
  border: None;
  border-radius: 8px;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}